@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "matrix";
    src: url(/src/assets/fonts/MartixRegular.otf) format("otf");
  }
}

.dark-theme {
  background-image: linear-gradient(to bottom, #262d1e, #000);
  color: #00ff41;
  font-family: "matrix";
}

.light-theme {
}

.date-card-dark-theme:hover {
  color: #fff;
  background-image: linear-gradient(to bottom, #262d1e, #000);
}
